# ─── Salin file ini menjadi .env ─────────────────────────────────────────
# cp .env.example .env

# ─── Database ─────────────────────────────────────────────────────────────
DB_HOST=mysql
DB_PORT=3306
DB_NAME=db_perpus
DB_USER=root
DB_PASSWORD=
DB_ROOT_PASSWORD=

# ─── App ──────────────────────────────────────────────────────────────────
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost
